<main class="agenda_page">
    <div class="agenda_page_header">
        <h2>
            <img src="../../../assets/icons/pincel.svg" alt="">
            Minha Agenda
        </h2>
        <div class="agenda_buttons_wrapper">
            <div class="agenda_data_wrapper">
                <button>Dia</button>
                <button>Mês</button>
                <button>Ano</button>
            </div>
            <button class="agenda_add_novo_evento_btn" (click)="createNewEvent()">Adicionar novo evento</button>
        </div>
    </div>

    <section class="agenda_events_wrapper">
        <table class="agenda_events_table">
            <tr>
                <th>Tópico</th>
                <th>Duração</th>
                <th>Inicio</th>
                <th>Término</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
            <tr *ngFor="let event of events">
                <td>{{ event.topic }}</td>
                <td>{{ event.duration }}</td>
                <td>{{ event.begin }}</td>
                <td>{{ event.end }}</td>
                <td>{{ event.description }}</td>
                <td>...</td>
            </tr>
        </table>
    </section>
</main>