<section class="create_sala_page">
    <div class="create_sala_header"> 
        <div class="back" (click)="goBack()"><-</div>
        <h2>SALAS VIRTUAIS</h2>
    </div>
    <section class="create_sala_container">
        <div class="create_sala_form_wrapper">
            <form [formGroup]="createMeetingForm" (ngSubmit)="onSubmit()">
                <input text="Nome da sala:" name="'nameSpace'" type="text" formControlName="nameSpace" required/>
                <input text="Disciplina associada:" name="course" type="text" formControlName="course" required/>
                <input text="Data da chamada:" name="date" type="date" formControlName="date" required/>
                <input text="Tópico:" name="subject" type="text" formControlName="subject" required/>
                <button type="submit">Criar sala</button>
            </form>
        </div>
        <div class="enter_sala_container">
            <h2>Já sabe que sala deseja entrar?</h2>
            <h2>Digite o seu código!</h2>
            <input name="create_space" [type]="'text'"/>
            <img src="../../../assets/icons/pincel.svg" alt="" id="lapis">
        </div>
    </section>
</section>