@import 'global';

.minhas_infos_page {
    @include page_format;

    .minhas_infos {
        

        .minhas_infos_header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .back {
                cursor: pointer;
            }
            h2 {
                font-size: 3em;
                margin-right: 16vw;
            }
        }

        
        text-align: center;
    
    }
    .minhas_infos_buttons {
        display: flex;
        justify-content: space-between;
        width: 50vw;
        margin-top: 2vh;
        color: white;
        font-weight: bold;

        button {
            @include button;
            width: 14vw;
            height: 6vh;
            background-color: $blue;
            color: white;
        }
    }

    #guri {
        margin-top: 4vh;
    }
}